<?xml version="1.0" encoding="UTF-8"?>
<!-- Version 1 - Escribo los Beans -->
<!--
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="	http://www.springframework.org/schema/beans
       						http://www.springframework.org/schema/beans/spring-beans.xsd" >
 -->

<!-- Version 2. -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        				
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="	http://www.springframework.org/schema/beans 
       						http://www.springframework.org/schema/beans/spring-beans.xsd 
       						
       						http://www.springframework.org/schema/context 
       						https://www.springframework.org/schema/context/spring-context.xsd" >


    <!-- Version 1. Ejercicio 1 -->
    <!--
    <bean id="calculadora" class="com.example.Calculadora" />
    <bean id="saludo" class="com.example.Saludo" />
	-->
	<!-- Ejercicio 2 
	<bean id="notificationService" class="com.example.NotificationService" />
    <bean id="userService" class="com.example.UserService">
        <constructor-arg name="notificationService" ref="notificationService" />
    </bean>
    -->
    
    <!-- Version 2. -->
    <!-- la siguiente linea scanea todos los beans que estan en el paquete base.
    	 No hace falta escribir los beans manualmente como los de arriba (Version 1)
    	 Hay q usar la notacion @Component en esas clases.
      -->
    <context:component-scan base-package="com.example" />
    
</beans>